<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
    <link rel="stylesheet" href="/css/home.css" />
  </head>
  <body>
    <div>
      <ul>
        <li><a class="active" href="/">Home</a></li>
        <li><a href="/create">Create Users</a></li>
      </ul>
    </div>

    <div class="table-container">
      <h2>List Users</h2>
      <table>
        <thead>
          <tr>
            <th>STT</th>
            <th>Email</th>
            <th>Name</th>
            <th>City</th>
            <th>Action</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <% listUsers.forEach(function(user) { %>
          <tr>
            <td><%= user.id %></td>
            <td><%= user.name%></td>
            <td><%= user.email%></td>
            <td><%= user.city%></td>
            <td><a href="/update/<%= user.id %>">Edit</a></td>
            <td>
              <form action="/delete-user/<%= user.id %>" method="POST">
                <button>DELETE</button>
              </form>
            </td>
          </tr>
          <% }); %>
        </tbody>
      </table>
    </div>
  </body>
</html>
